# ==============================
# Environment
# ==============================
NODE_ENV=development

# ==============================
# Service Config
# ==============================
PORT=4002

# ==============================
# MySQL Database (Local)
# ==============================
DB_HOST=localhost
DB_PORT=3308
DB_USER=root
DB_PASS=example
DB_NAME=posts_db

# ==============================
# MySQL Database (Docker)
# Uncomment when running inside docker
# ==============================
# DB_HOST=mysql-posts
# DB_PORT=3306
# DB_USER=user
# DB_PASS=password
# DB_NAME=posts_db

# ==============================
# RabbitMQ
# ==============================
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

# ==============================
# Users Service URL
# ==============================
# Local Dev
USERS_SERVICE_URL=http://localhost:4001/api

# Inside Docker Network
# USERS_SERVICE_URL=http://users-service:4001/api

# ==============================
# Redis
# ==============================
REDIS_HOST=localhost
REDIS_PORT=6379
